<h1> Book </h1><br>

<h5> Title of the book : {{Book.title}}</h5>
<h5> Publication Date : {{Book.publicationDate ? Book.publicationDate|date('Y-m-d') : 'N/A' }}<h5>
<h5> Author Name : {{Book.author.username}} </h5>